{% extends 'base.html' %}
{% load static %}
{% block title %} HOME {% endblock %}
{% block content %}

  {% include 'navbar.html' %}

  <img src="{% static 'img/banner_proview.png' %}" class="img-fluid mb-4" alt="ProView Banner">

  <div class="container mb-6">
    <div class="row">
      {% for product in products %}
      <div class="col-md-4">
        <div class="card mb-3">
          <img src="{% static 'img/cushion_something.jpeg' %}" class="card-img-top" alt="Cushion Something">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <a href="#" class="btn btn-primary">Products Detail</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="container mx-auto" style="max-width: 1230px;">
    <div class="row">
      <div class="card mb-3" style="max-width: 400px; margin-right: 15px;">
        <div class="row g-0">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 400px; margin-right: 15px;">
        <div class="row g-0">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 400px;">
        <div class="row g-0">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
