{% extends 'base.html' %}
{% load static %}
{% block title %} HOME {% endblock%}
{% block content %}
{% include 'navbar.html' %}

<img src="{% static 'img/banner_proview.png' %}" class="img-fluid mb-4" alt="ProView Banner" />

<div class="container">
  <h1 id="products" class="text_style2 pink mb-4 mt-6">products</h1>
  <div class="row">
    {% for product in products %}
<div class="col-md-4">
  <div class="card mb-3">
    <!-- {% if product.cover %} -->
    <!-- <img src="{{ product_cover_url }}" class="card-img-top" alt="{{ product.name }}"> -->
    <!-- {% else %} -->
    <img src="{% static 'img/default-cover.jpg' %}" class="card-img-top" alt="Default Cover">
    <!-- {% endif %} -->
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description|truncatechars:100 }}</p>
      <div class="btn-area">
        {% if product.id %}
        <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Products Detail</a>
        <a href="{% url 'product_reviews' product.id %}" class="btn btn-primary">Reviews</a>
        {% else %}
        <p>No product ID available</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %}
  </div>
</div>
{% endblock %}
