{% extends 'base.html' %}
{% load static %}
{% block title %} Products {% endblock %}
{% block content %}

{% include 'navbar.html' %}

<div class="container">
  <h2>All Products</h2>
  <div class="row">
    {% for product in products %}
    <div class="col-md-4">
      <div class="card mb-3">
        <!-- <img src="{% static 'img/cushion_something.jpeg' %}" class="card-img-top" alt="Cushion Something"> -->
        <!-- {% if product.cover %} -->
    <!-- <img src="{{ product_cover_url }}" class="card-img-top" alt="{{ product.name }}"> -->
    <!-- {% else %} -->
    <img src="{% static 'img/default-cover.jpg' %}" class="card-img-top" alt="Default Cover">
    <!-- {% endif %} -->
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Product Detail</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
